<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Recuperacion de contraseña?{% endblock %}

{% block content %}
  <h1>Olvidaste tu contraseña?</h1>
  <p>Ingresa tu email abajo, y te enviaremos intrucciones para recuperarlo.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviame instrucciones!">
  </form>
</div>
{% endblock %}